{% load static %}
<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    {% if request.resolver_match.url_name == 'home' %}
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".16thgenerationiPhone">
						16th generation iPhone
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".macbook">
						macbook
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".airpod">
						airpod
					</button>
                    {% endif %}
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>

								<li class="p-b-6">
									<a href="{% url 'product:products' %}?sort=new{% if request.GET.color %}&color={{ request.GET.color }}{% endif %}{% if request.GET.aprice and request.GET.bprice %}&aprice={{ request.GET.aprice }}&bprice={{ request.GET.bprice }}{% endif %}" class="filter-link stext-106 trans-04 filter-link-active">
										Newness
									</a>
								</li>

								<li class="p-b-6">
									<a href="{% url 'product:products' %}?sort=low-to-high{% if request.GET.color %}&color={{ request.GET.color }}{% endif %}{% if request.GET.aprice and request.GET.bprice %}&aprice={{ request.GET.aprice }}&bprice={{ request.GET.bprice }}{% endif %}" class="filter-link stext-106 trans-04">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
                                    <a href="{% url 'product:products' %}?sort=high-to-low{% if request.GET.color %}&color={{ request.GET.color }}{% endif %}{% if request.GET.aprice and request.GET.bprice %}&aprice={{ request.GET.aprice }}&bprice={{ request.GET.bprice }}{% endif %}" class="filter-link stext-106 trans-04">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="" class="filter-link stext-106 trans-04 {% if not request.GET.aprice or not request.GET.bprice %}filter-link-active {% endif %}">
										All
									</a>
								</li>
                                {% for i in pricerange %}
								<li class="p-b-6">
									<a href="{% url 'product:products' %}?aprice={{ i.a }}&bprice={{ i.b }}{% if request.GET.color %}&color={{ request.GET.color }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.aprice == i.a_to_str %}filter-link-active{% endif %}">
										${{ i.a }}0 - ${{ i.b }}0
									</a>

								</li>
                                {% endfor %}
							</ul>
						</div>

						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>

							<ul>
                                {% for i in colors %}
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #{{ i.color_code }};">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="{% url 'product:products' %}?color={{ i.title }}{% if request.GET.aprice and request.GET.bprice %}&aprice={{ request.GET.aprice }}&bprice={{ request.GET.bprice }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == i.title %}filter-link-active {% endif %}">
										{{ i.title }}
									</a>
								</li>
                                {% endfor %}
							</ul>
						</div>

					</div>
				</div>
			</div>